<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giỏ Hàng Của Tui ^^!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery.js"></script>
</head>
<body>
<div class="container">
    <div class="row web-bar">
        <h1>Danh Mục Sản Phẩm</h1>
        <div class="cart-info">
            <div class="trangtri">
                <a href="#">
                    <img src="img/cart-icon.png" alt="">
                    Có <b>?</b> sản phẩm trong giỏ
                </a>
            </div>
            <div class="table">
                <h5>Chi Tiết Giỏ Hàng</h5>
                <table class="hoadon">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>?</strong></td>
                        <td><strong>?</strong></td>
                        <td><strong>?</strong></td>
                        <td><strong>?</strong></td>
                        <td><strong>?</strong></td>
                        <td><a class="btn_delete" href="#">Xóa</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="tongtien">Tổng Tiền: <strong>?</strong></div>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col-md-4">
            <form action="" method="post" name="product1" class="form-group">
                <h3 class="id">1</h3>
                <img src="img/lent460.png" alt="">
                <h5>Lenovo Thinkpad T460s</h5>
                <h6>Giá: 13200000</h6>
                <p>Core i5-6300U // RAM 8GB // ssd 256GB // 14.0-inch FHD 1920x1080</p>
                <div class="add-item">
                    <input type="number" name="soluong" placeholder="Nhập số lượng">
                    <button class="btn-success btn-add">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form action="" method="post" name="product2" class="form-group">
                <h3 class="id">2</h3>
                <img src="img/asg531.png" alt="">
                <h5>Asus ROG Strig G531GD</h5>
                <h6>Giá: 24390000</h6>
                <p>Core i7-9750H // RAM 8GB // ssd 512GB // 15.6-inch NanoEdge FHD 1920x1080</p>
                <div class="add-item">
                    <input type="number" name="soluong" placeholder="Nhập số lượng">
                    <button class="btn-success btn-add">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form action="" method="post" name="product3" class="form-group">
                <h3 class="id">3</h3>
                <img src="img/msigf63.png" alt="">
                <h5>MSI GF63 Thin 9SC</h5>
                <h6>Giá: 21990000</h6>
                <p>Core i7-9750H // RAM 8GB // ssd 512GB // 15.6-inch FHD 1920x1080</p>
                <div class="add-item">
                    <input type="number" name="soluong" placeholder="Nhập số lượng">
                    <button class="btn-success btn-add">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row product">
        <div class="col-md-4">
            <form action="" method="post" name="product4" class="form-group">
                <h3 class="id">4</h3>
                <img src="img/del5568.jpg" alt="">
                <h5>Dell Vostro 5568</h5>
                <h6>Giá: 17000000</h6>
                <p>Core i5-10210U // RAM 8GB // ssd 512GB + hdd 1TB // 15.6-inch FHD 1920x1080</p>
                <div class="add-item">
                    <input type="number" name="soluong" placeholder="Nhập số lượng">
                    <button class="btn-success btn-add">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form action="" method="post" name="product5" class="form-group">
                <h3 class="id">5</h3>
                <img src="img/acetriton.jpg" alt="">
                <h5>Acer Predator Triton 900</h5>
                <h6>Giá: 129990000</h6>
                <p>Core i7-9750H // RAM 32GB // ssd 1TB // 15.6-inch FHD 1920x1080</p>
                <div class="add-item">
                    <input type="number" name="soluong" placeholder="Nhập số lượng">
                    <button class="btn-success btn-add">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form action="" method="post" name="product6" class="form-group">
                <h3 class="id">6</h3>
                <img src="img/hppav.jpg" alt="">
                <h5>HP Pavillion 15-cs1009TU</h5>
                <h6>Giá: 14290000</h6>
                <p>Core i5-8265U // RAM 4GB // 1TB 5400 rpm SATA // 15.6-inch diagonal anti-glare WLED-backlit  FHD 1920x1080</p>
                <div class="add-item">
                    <input type="number" name="soluong" placeholder="Nhập số lượng">
                    <button class="btn-success btn-add">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row product">
        <div class="col-md-4">
            <form action="" method="post" name="product7" class="form-group">
                <h3 class="id">7</h3>
                <img src="img/asvivo.jpg" alt="">
                <h5>Asus Vivobook A512FA</h5>
                <h6>Giá: 15490000</h6>
                <p>Core i5-10210U // RAM 8GB // ssd 512GB // 15.6-inch anti-glare FHD 1920x1080</p>
                <div class="add-item">
                    <input type="number" name="soluong" placeholder="Nhập số lượng">
                    <button class="btn-success btn-add">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form action="" method="post" name="product8" class="form-group">
                <h3 class="id">8</h3>
                <img src="img/lg17z.png" alt="">
                <h5>LG Gram 17Z990</h5>
                <h6>Giá: 32300000</h6>
                <p>Core i7-8565U // RAM 8GB // ssd 512GB // 17.0-inch WQXGA 2560x1600</p>
                <div class="add-item">
                    <input type="number" name="soluong" placeholder="Nhập số lượng">
                    <button class="btn-success btn-add">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form action="" method="post" name="product9" class="form-group">
                <h3 class="id">9</h3>
                <img src="img/surpro.png" alt="">
                <h5>Surface Pro 6</h5>
                <h6>Giá: 37990000</h6>
                <p>Core i7-8930U // RAM 16GB // ssd 512GB // 12.3-inch PixelSense 2736x1824</p>
                <div class="add-item">
                    <input type="number" name="soluong" placeholder="Nhập số lượng">
                    <button class="btn-success btn-add">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row page">
        <div class="col-md-3"><a href="giao_dien.html" class="btn change-page"><</a></div>
        <div class="col-md-2"><a href="giao_dien.html" class="btn change-page">1</a></div>
        <div class="col-md-2"><a href="giao_dien.html" class="btn change-page">2</a></div>
        <div class="col-md-2"><a href="giao_dien.html" class="btn change-page">3</a></div>
        <div class="col-md-3"><a href="giao_dien.html" class="btn change-page">></a></div>
    </div>
</div>
</body>
<script src="js/main.js"></script>
</html>